USE [master]
GO
-- 0. Xóa Database SaleManagement nếu đã tồn tại trong DBMS --------------------
IF EXISTS (
    SELECT name 
    FROM sys.databases 
    WHERE name = N'SaleManagement'
)
BEGIN
    -- Tùy chọn: đưa DB về SINGLE_USER để tránh lỗi đang có kết nối
    ALTER DATABASE [SaleManagement] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    
    -- Xóa database
    DROP DATABASE [SaleManagement];
END
GO
/****** Object:  Database [SaleManagement]   *****/

CREATE DATABASE [SaleManagement]
 
 GO

USE [SaleManagement]

Go
-- Tạo table Users ----------------------------------------------------------------
CREATE TABLE [dbo].[tblUsers](
	[userName] [nvarchar](10) NOT NULL,
	[fullName] [nvarchar](30) NOT NULL,
	[password] [nvarchar](30) NOT NULL,
	[role] int NOT NULL DEFAULT 0,		-- 0: Member - 1: Manager
	PRIMARY KEY([userName])
)

GO
-- Tạo table Orders ----------------------------------------------------------------
CREATE TABLE [dbo].[tblOrders](
	[orderID] [nchar](6) NOT NULL,
	[orderDate] [date] NOT NULL,
	[customer] [nvarchar](30) NOT NULL,
	[address] [nvarchar](150) NOT NULL,
	[totalAmount] [numeric](12, 0) NOT NULL,
	[status] int NOT NULL default 0,	-- 0: New - 1: Pending - 2: Received - 3: Rejected
	 PRIMARY KEY([orderID])
)

GO
-- Input data to all of table ----------------------------------------------------------------------------------------
INSERT [dbo].[tblUsers] ([userName], [fullName], [password], [role]) VALUES (N'admin', N'Administrator', N'1', 1)
INSERT [dbo].[tblUsers] ([userName], [fullName], [password], [role]) VALUES (N'hungtm', N'Tran Manh Hung', N'2', 0)
INSERT [dbo].[tblUsers] ([userName], [fullName], [password], [role]) VALUES (N'minhpt', N'Pham Tuan Minh', N'1', 1)

GO

INSERT [dbo].[tblOrders] ([orderID], [orderDate], [customer], [address], [totalAmount], [status]) VALUES (N'000001', CAST(N'2026-01-01' AS Date), N'Le Nhat Thanh', N'10 Pham Van Dong Street, Thu Duc Ward, Ho Chi Minh City', CAST(2800000 AS Numeric(12, 0)), 1)
INSERT [dbo].[tblOrders] ([orderID], [orderDate], [customer], [address], [totalAmount], [status]) VALUES (N'000002', CAST(N'2026-01-17' AS Date), N'Tran Hoai Linh', N'5 Nguyen Van Luong Street, Go Vap Ward, Ho Chi Minh City', CAST(3000000 AS Numeric(12, 0)), 2)
INSERT [dbo].[tblOrders] ([orderID], [orderDate], [customer], [address], [totalAmount], [status]) VALUES (N'000003', CAST(N'2026-01-19' AS Date), N'Hoang Thanh Cuong', N'24 Can Duoc Commune, Tay Ninh Province', CAST(1200000 AS Numeric(12, 0)), 1)
